/* Loads in Front and Backend, when Admin */
/* WP Admin Bar Icon */
#wp-admin-bar-custom-brand-icon img {
  Width: 22px !important;
  height: 22px !important;
  margin-top: 5px !important;
  float: left!important;
}

#wp-admin-bar-custom-brand-icon > .ab-item {
  padding: 0 7px !important;
}
