body.login {
  background: #EEEFEF;
  color: #272828;
  background-repeat: no-repeat;
}

body.login h1 {
  display: none;
}

body.login .custom-login-branding {
  text-align: center;
  width: 100%;
}

body.login .custom-login-branding a {
  display: inline-block;
}

body.login .custom-login-branding a img {
  display: block;
  padding: 8px;
  margin-bottom: 24px;
}

body.login.wp-core-ui .button-primary.focus,
body.login.wp-core-ui .button-primary.hover,
body.login.wp-core-ui .button-primary:focus,
body.login.wp-core-ui .button-primary:hover {
  background: #4E9F9F;
  border-color: #4E9F9F;
  color: #fff;
}

body.login #backtoblog a:hover,
body.login #nav a:hover,
body.login h1 a:hover {
  color: #2e7f7f;
}
